@font-face {
	font-family: "firasans";
	src: url("../fonts/FiraSans-Regular.ttf");
}

@font-face {
	font-family: "firasans-light";
	src: url("../fonts/FiraSans-Light.ttf");
}

@font-face {
	font-family: "firasans-bold";
	src: url("../fonts/FiraSans-Bold.ttf");
}

@font-face {
	font-family: "firasans-bolditalic";
	src: url("../fonts/FiraSans-BoldItalic.ttf");
}

body {
  font-family: "firasans-light";
  margin: 0;
}

header {
  width: 100%;
  background-color: #D93A33;
  padding: 0 50px;
  box-sizing: border-box;
}

header img {
  float: left;
  display: block;
  padding: 10px 0;
}

header nav ul {
  display: block;
  margin: 0;
}

header nav ul li {
  padding: 18px 20px;
  float: right;
  display: block;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  position: relative;
  cursor: pointer;
}

header nav ul li.active {
  background-color: #66bb6a;
}

header nav ul li:hover {
  text-decoration: underline;
}

header nav ul li:before {
  display: block;
  width: 1px;
  height: 21px;
  background-color: #fff;
  content: '';
  margin: 0 10px;
  float: right;
  position: absolute;
  left: -10px;
}

header nav ul li.active:hover {
   background-color: #66bb6a;
   text-decoration: none;
}

{
  rgba(0,20,40,0.5)
}

header nav ul li.active:before,
header nav ul li:last-child:before {
  display: none;
}

header nav ul:after {
  clear: both;
  float: none;
  content: '';
  display: block;
}

main .slideshow {
  background-color: #482B47;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
	overflow: hidden;
	height: 27px;
}

main .slideshow.open {
	overflow: scroll;
	height: auto;
}

main .slideshow .separate {
  width: 50%;
  float: left;
  text-align: center;
  position: relative;
}

main .slideshow .separate:after,
main .slideshow .holder:after,
main .slideshow:after {
  content: '';
  display: block;
  float: none;
  clear: both;
}

main .slideshow .fixer {
  width: 300px;
  height: 100px;
  overflow: hidden;
  margin: 0 auto;
  float:left;
}

main .slideshow .fixer .img {
  width: 150px;
  height: 100px;
  float: left;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.4;
}

main .slideshow .fixer .img.on {
  opacity: 1;
}

main .slideshow .holder {
  width: 450px;
}


main .slideshow  h2 {
  color: #fff;
}

main .workspace {
  background-color: rgba(0,20,40,0.5);
  padding-bottom: 205px;
}

main .widebg {
  background-image: url('/img/vr.jpg');
  background-position: center center;
  background-size: cover;
}

h2 {
  font-family: "firasans";
  font-size: 20px;
}

main .slideshow .slide {
  position: relative;
  width: 480px;
  margin: 0 auto;
  height: 100px;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px 0;
}
main .slideshow .left,
main .slideshow .right {
  width: 90px;
  height: 100px;
  float: left;
  font-size: 60px;
  color: #000;
  padding-top: 16px;
  box-sizing: border-box;
  cursor: pointer;
}

main .slideshow span {
  color: #000;
}
main .slideshow .toggle {
	position: relative;
	z-index: 1;
}
main .slideshow .toggle .fa {
	position: absolute;
	left: 0px;
	right: 0px;
	margin: 3px auto;
	text-align: center;
	font-size: 48px;
	color: #fff;
	cursor: pointer;
}

main .slideshow .toggle .fa-angle-down {
	display: none;
}

main .slideshow.open .toggle .fa-angle-down {
	display: block;
}

main .slideshow.open .toggle .fa-angle-up {
	display: none;
}

main .slideshow .recent-snapshots {
  width: 80%;
  margin: 60px auto 0;

}
main .slideshow .recent-snapshots .snapshots-container {
  overflow-x: auto;
  height: 72px;
  width: 100%;
}
main .slideshow .recent-snapshots a {
  cursor: pointer;
  opacity: 0.5;
}
main .slideshow .recent-snapshots p {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-top: 0;
}
main .slideshow .recent-snapshots a:hover {
  opacity: 1;
}

main .slideshow .recent-snapshots a img {
  display: block;
  width: 96px;
  height: 72px;
  float: left;
  padding: 5px;
}

main .canvas-holder {
  position: relative;
}

main .snap {
	color: #fff;
	font-size: 18px;
	text-align: center;
	margin: 30px auto;
	display: block;
	text-decoration: none;
}

main .canvas-holder .fa-camera {
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 200px;
  font-size: 80px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

h3 {
  text-align: center;
	font-family: "firasans-bolditalic";
  font-size: 30px;
  color: #fff;
  margin: 0;
  padding: 30px 0;
}

canvas {
  width: 640px;
  height: 480px;
  margin: 0 auto;
  display: block;
  background-color: rgba(0,0,0,.5)
}

video {
  display: none;
}

.mozlogo {
  width: 120px;
}
